<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <p:growl id="msj" />
        <h:form id="nuevo">
            <p:fieldset legend="Nuevo Coche" toggleable="true">
                <p:panelGrid columns="1">
                    <p:commandButton value="Nuevo Coche" oncomplete="PF('mostrar').show();" />
                </p:panelGrid>
            </p:fieldset>
        </h:form>
        <p:dialog widgetVar="mostrar" header="Datos" modal="true" showEffect="clip" resizable="false">
            <p:ajax event="close" listener="#{cursoBean.limpiar()}" update="valor" />
            <h:form id="valor">
                <p:panelGrid columns="2">
                    <p:outputLabel value="Ingrese ID" />
                    <p:inputText value="#{cursoBean.curso.idCurso}" />
                    <p:outputLabel value="Ingrese Color" />
                    <p:inputText value="#{cursoBean.curso.nombres}" />

                    <p:commandButton value="Guardar" actionListener="#{cursoBean.insert()}" 
                                     rendered="#{managedCoche.coche.id_coche == 0}"
                                     update=":Datos valor :msj" oncomplete="PF('mostrar').hide();" />
                    <p:commandButton value="Actualizar" actionListener="#{cursoBean.actualizar()}" 
                                     rendered="#{managedCoche.coche.id_coche != 0}"
                                     update=":Datos valor :msj" oncomplete="PF('mostrar').hide();" />
                </p:panelGrid>
            </h:form>
        </p:dialog>
        <h:form id="Datos">
            <p:fieldset legend="Datos Coches" toggleable="true">
                <p:dataTable value="#{cursoBean.ltsCurso}" var="c">
                    <p:column headerText="Id">
                        <h:outputText value="#{c.idCurso}" />
                    </p:column>
                    <p:column headerText="Modelo">
                        <h:outputText value="#{c.nombres}" />
                    </p:column>

                    <p:column headerText="Eliminar">
                        <p:commandButton value="Eliminar" actionListener="#{cursoBean.eliminar(c)}" 
                                         update=":msj" />
                    </p:column>
                    <p:column headerText="Actualizar">
                        <p:commandButton value="Actualizar" actionListener="#{cursoBean.cargarID(c)}" 
                                         oncomplete="PF('mostrar').show();" update=":valor" />
                    </p:column>
                </p:dataTable>
            </p:fieldset>
        </h:form>
    </h:body>
</html>


<div class="card">
    <div class="card-header">
        <h3>Registrar Cursos</h3>
    </div>
    <div class="card-body">
        <div class="form-group">
            <label>ID</label>
            <p:inputText value="#{cursoBean.curso.idCurso}" class="form-control" />
        </div>
        <div class="form-group">
            <label>NOMBRE</label>
            <p:inputText value="#{cursoBean.curso.nombres}" class="form-control" />
        </div>
        <div class="form-group">
            <label>Foto</label>
            <br/>
            <p:growl showDetail="true"/>
            <p:fileUpload value="#{cursoBean.file}" mode="simple"/>
        </div>
    </div>
</div>
<div class="card-footer">
    <p:commandButton class="btn btn-outline-primary" value="Guardar" actionListener="#{cursoBean.insert()}"/> 
    <p:commandButton class="btn btn-outline-primary" value="Actualizar" actionListener="#{cursoBean.actualizar()}"
                     update=":f"/>   
</div>   

