<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <meta charset="utf-8" />
        <title>Web Application | todo</title>
        <link rel="stylesheet" href="Web Application _ todo_files/app.v2.css" type="text/css"/>
        <link rel="stylesheet" href="Web Application _ todo_files/font.css" type="text/css"/>
        <link href="css/landing-page.css" rel="stylesheet"/>
    </h:head>
    <h:body>

        <header class="masthead2">
            <section id="content" class="m-t-lg wrapper-md animated fadeInUp">
                <div class="row m-n">
                    <div class="col-md-4 col-md-offset-4 m-t-lg">
                        <section class="panel">
                            <header class="panel-heading text-center"> Sign in </header>
                            <h:form class="panel-body">
                                <p:messages autoUpdate="true" showDetail="true"/>
                                <div class="form-group"> <label class="control-label">Email</label> <p:inputText type="email" value="#{usuarioBean.usuario.email}" placeholder="testConnection@gmail.com" class="form-control"/>  </div>
                                <div class="form-group"> <label class="control-label">Password</label> <p:inputText type="password" value="#{usuarioBean.usuario.password}" placeholder="Password" class="form-control"/> </div>
                                <div class="checkbox"> <label> <input type="checkbox"/> Keep me logged in </label> </div>
                                <a href="#" class="pull-right m-t-xs"><small>Forgot password?</small></a> <p:commandButton value="Sign in" action="#{usuarioBean.iniciarSesion()}" class="btn btn-info"/>
                                <div class="line line-dashed"></div>
                                <a href="#" class="btn btn-facebook btn-block m-b-sm"><i class="fa fa-facebook pull-left"></i>Sign in with Facebook</a> <a href="#" class="btn btn-twitter btn-block"><i class="fa fa-twitter pull-left"></i>Sign in with Twitter</a> 
                                <div class="line line-dashed"></div>
                                <p class="text-muted text-center"><small>Do not have an account?</small></p>
                                <a href="jsfCrearUsuario.xhtml" class="btn btn-white btn-block">Create an account</a> 
                            </h:form>
                        </section>
                    </div>
                </div>
            </section>
            <!-- / footer --><script src="js/app.v2.js"></script> <!-- Bootstrap --> <!-- app --> 
        </header>
    </h:body>
</html>