<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <f:view contentType="text/html">
        <h:head>
            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
                <title>PrimeFaces</title>
            </f:facet>
        </h:head>

        <h:body>     
            <h:form>
                <p:messages autoUpdate="true" showDetail="true"/>
                <p:inputText value="#{usuarioBean.usuario.email}"/>
                <p:inputText value="#{usuarioBean.usuario.password}"/>
                <p:commandButton value="entar" action="#{usuarioBean.iniciarSesion()}"/>
            </h:form> 

        </h:body>


    </f:view>
</html>

